.nav-container {
    width: 100%;
    background-color: #333;
    display: flex;
    padding: 1rem 0.7rem;

    .searchForm {
        width: 65%;

        label {
            position: absolute;
            left: -99999px;
          }
    }
      
    .searchForm input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    }

    ul {
        color: #fff;
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        li {
            padding: 1rem;

            a {
                color: #fff;
                text-decoration: none;
              }
        }
    
        li:hover, 
        li:focus {
        padding: 1rem;
        }

        li:hover,
        li:focus {
            a  {
                text-decoration: underline;
                cursor: pointer;
              }
        }
    }
  }

  @media(max-width: 680px){
    .nav-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;

        ul {
            text-align: right;
          }
          
          li:hover,
          li:focus{
                a {
                    text-transform: underline;
                }
          }

          .searchForm {
            width: 90%;
            padding: .5rem 0;
          }
         
          .searchForm input[type="text"] {
            margin-left: 0.5rem;
          }
      }
  }